body{
    margin:0;
    padding:0;
}
$color:#901222;
$colorSaturado: saturate($color,10%);
$color2: #222;
$hover:rgba($color,1);
@mixin hover_a(){
    -webkit-box-shadow: 100vw 0 $colorSaturado inset;
    -moz-box-shadow: 100vw 0 $colorSaturado inset;
    box-shadow: 100vw 0 $colorSaturado inset;
}
i[class^="icon-"]:before, [class*=" icon-"]:before{
    position: relative;
    color: yellow;
    font-size: 25px;
    top: 0.25em;
    margin-right: 0.5em;
}
span[class^="icon-"]:before, [class*=" icon-"]:before{
    position: relative;
    color: darkgoldenrod;
    font-size: 20px;
    top: 0.25em;
    margin-right: 0.5em;
}
.menuv{
    flex: 1 0 auto;
    font-family: alegreya, arial; 
    background: $color2;
    display: flex;
    flex-direction: column;
    transition: all 0.8s;
    ul{
        margin: 0;
        padding:0;
    }
    li{
        list-style: none;
        line-height: 2em;

    }
    a{
        display: block;
        font-weight: normal;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        -webkit-box-shadow: 2px 0 $colorSaturado inset;
        -moz-box-shadow: 2px 0 $colorSaturado inset;
        box-shadow: 2px 0 $colorSaturado inset;
        transition: all 1s;
    }
    .menuv__sistema{
        & > li{
            border-bottom: 2px solid rgba(255,255,255, 0.5);
            &:last-child a{
                border-bottom: none;
            }
        }
        & > li > a{
            padding-left: 1em;
            color: white;
            &:hover{
                @include hover_a; 
            }
        }   
    }
    .menuv__submenu{
        display: none;
        & > li{
            border-bottom: none;
        }
        & > li > a{
            margin-left: 1em;
            padding-left: 1em;
            color: white;
            background: rgba(0,0,0,.4);
            border-bottom: 2px solid rgba(255,255,255,0.5);
            &:hover{
                @include hover_a; 
            }
        }   
    }
    .menuv__formulario{
        display: none;
        & > li{
            border-bottom: none;
        }
        & > li > a{
            margin-left: 2em;
            padding-left: 2em;
            color: white;
            background: rgba(0,0,0,.6);
            border-bottom: 2px solid rgba(255,255,255,0.5);
            &:hover{
                @include hover_a; 
            }
        }   
    }
}
.main_toggle_menu{
    flex: 0 0 40px;
    background: saturate($color,10%);
    display: flex;
    transition: all 0.2s;
    & i {
        top: 0;
        margin: 0;
        font-size: 40px;
        flex: 1 1 auto;
        font-weight: bold;
        &:hover{
            cursor: pointer;
        }
    }
}
.setting_usuario{
    width: 300px;
    height: 100px;
    background: #46b8da;
    position: absolute;
    right: 5px;
    top: 58px;
    display: none;
    z-index: 100;
}
.header__usuariologueado{
    border-radius: 25px 0 0 25px;
}
.header__usuariologueado a:hover{
    color: black;
}
.header__usuariologueado a{
    color: white;
}
