.contenedor_acceso {
  width: 100%;
  height: 100vh;
  background: url(../img/fachada.jpg) top left/cover;
  display: flex;
  justify-content: center;
  align-items: center; }

#panel-acceso {
  position: relative;
  top: 80px;
  width: 350px;
  height: 150px;
  display: flex;
  align-items: center; }

.input-group {
  margin-bottom: 2px; }

.input-group-addon {
  cursor: pointer; }

.centrado {
  text-align: center; }

.derecha {
  text-align: right; }

#logo {
  width: 300px;
  transition: all 3s;
  cursor: pointer; }

.popover {
  position: absolute;
  width: 350px;
  top: -70px;
  margin-left: 0; }

@font-face {
  font-family: "mis-iconos";
  src: url("../fonts/icon/mis-iconos.eot");
  src: url("../fonts/icon/mis-iconos.eot?#iefix") format("embedded-opentype"), url("../fonts/icon/mis-iconos.woff") format("woff"), url("../fonts/icon/mis-iconos.ttf") format("truetype"), url("../fonts/icon/mis-iconos.svg#mis-iconos") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "mis-iconos" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mis-iconos" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-logistica:before {
  content: "\61"; }

.icon-crm:before {
  content: "\62"; }

.icon-angle-left:before {
  content: "\63"; }

.icon-angle-right:before {
  content: "\64"; }

.icon-angle-down:before {
  content: "\65"; }

.icon-angle-up:before {
  content: "\66"; }

.icon-settings:before {
  content: "\68"; }

.icon-usuarios:before {
  content: "\67"; }

.icon-permisos:before {
  content: "\69"; }

.icon-roles:before {
  content: "\6a"; }

.icon-clientes:before {
  content: "\6b"; }

.icon-ventas:before {
  content: "\6c"; }

.icon-reportes:before {
  content: "\6d"; }

body {
  margin: 0;
  padding: 0; }

i[class^="icon-"]:before, [class*=" icon-"]:before {
  position: relative;
  color: yellow;
  font-size: 25px;
  top: 0.25em;
  margin-right: 0.5em; }

span[class^="icon-"]:before, [class*=" icon-"]:before {
  position: relative;
  color: darkgoldenrod;
  font-size: 20px;
  top: 0.25em;
  margin-right: 0.5em; }

.menuv {
  flex: 1 0 auto;
  font-family: alegreya, arial;
  background: #222;
  display: flex;
  flex-direction: column;
  transition: all 0.8s; }
  .menuv ul {
    margin: 0;
    padding: 0; }
  .menuv li {
    list-style: none;
    line-height: 2em; }
  .menuv a {
    display: block;
    font-weight: normal;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 2px 0 #980a1c inset;
    -moz-box-shadow: 2px 0 #980a1c inset;
    box-shadow: 2px 0 #980a1c inset;
    transition: all 1s; }
  .menuv .menuv__sistema > li {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); }
    .menuv .menuv__sistema > li:last-child a {
      border-bottom: none; }
  .menuv .menuv__sistema > li > a {
    padding-left: 1em;
    color: white; }
    .menuv .menuv__sistema > li > a:hover {
      -webkit-box-shadow: 100vw 0 #980a1c inset;
      -moz-box-shadow: 100vw 0 #980a1c inset;
      box-shadow: 100vw 0 #980a1c inset; }
  .menuv .menuv__submenu {
    display: none; }
    .menuv .menuv__submenu > li {
      border-bottom: none; }
    .menuv .menuv__submenu > li > a {
      margin-left: 1em;
      padding-left: 1em;
      color: white;
      background: rgba(0, 0, 0, 0.4);
      border-bottom: 2px solid rgba(255, 255, 255, 0.5); }
      .menuv .menuv__submenu > li > a:hover {
        -webkit-box-shadow: 100vw 0 #980a1c inset;
        -moz-box-shadow: 100vw 0 #980a1c inset;
        box-shadow: 100vw 0 #980a1c inset; }
  .menuv .menuv__formulario {
    display: none; }
    .menuv .menuv__formulario > li {
      border-bottom: none; }
    .menuv .menuv__formulario > li > a {
      margin-left: 2em;
      padding-left: 2em;
      color: white;
      background: rgba(0, 0, 0, 0.6);
      border-bottom: 2px solid rgba(255, 255, 255, 0.5); }
      .menuv .menuv__formulario > li > a:hover {
        -webkit-box-shadow: 100vw 0 #980a1c inset;
        -moz-box-shadow: 100vw 0 #980a1c inset;
        box-shadow: 100vw 0 #980a1c inset; }

.main_toggle_menu {
  flex: 0 0 40px;
  background: #980a1c;
  display: flex;
  transition: all 0.2s; }
  .main_toggle_menu i {
    top: 0;
    margin: 0;
    font-size: 40px;
    flex: 1 1 auto;
    font-weight: bold; }
    .main_toggle_menu i:hover {
      cursor: pointer; }

.setting_usuario {
  width: 300px;
  height: 100px;
  background: #46b8da;
  position: absolute;
  right: 5px;
  top: 58px;
  display: none;
  z-index: 100; }

.header__usuariologueado {
  border-radius: 25px 0 0 25px; }

.header__usuariologueado a:hover {
  color: black; }

.header__usuariologueado a {
  color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul a {
    text-decoration: none; }

.contenedor {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .contenedor header {
    background: linear-gradient(to right, #f5f0f1 3%, #f3eced 4%, #901222 60%, #901222 95%);
    flex: 0 1 50px;
    display: flex;
    justify-content: space-between; }
    .contenedor header .header__logo {
      flex: 0 1 300px;
      background-image: url("../img/logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 20px 0; }
    .contenedor header .header__usuariologueado {
      flex: 0 0 250px;
      display: flex; }
      .contenedor header .header__usuariologueado .foto {
        flex: 0 0 50px; }
        .contenedor header .header__usuariologueado .foto img {
          border-radius: 50%; }
      .contenedor header .header__usuariologueado .nombreusuario {
        padding-left: 0.5em;
        line-height: 50px;
        flex: 1 1 auto; }
      .contenedor header .header__usuariologueado:hover {
        cursor: pointer;
        background: #d6e9c6; }

.main {
  display: flex;
  flex: 1 1 auto; }
  .main .menuv {
    flex: 0 0 260px;
    overflow: auto;
    transition: all 0.8s; }
  .main .main_toggle_menu {
    flex: 0 0 40px; }
  .main aside {
    flex: 1 1 auto; }

@media screen and (max-width: 680px) {
  .contenedor header .nombreusuario {
    display: none; }
  .contenedor header .header__usuariologueado {
    flex: 0 0 100px;
    flex-direction: row-reverse;
    justify-content: center; } }
#estadoServidor {
  display: none; }

.espRow {
  padding-top: 1.5px; }

tbody {
  cursor: pointer; }
